html {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    box-sizing: border-box;
    z-index: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(223, 223, 223, 0);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 50rem;
        background: var(--primaryAccent);
    }
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: var(--mainFont);
    background: inherit;
    color: inherit;
    z-index: inherit;
    -webkit-user-select: none;
    user-select: none;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--mainFont);
}

button,
input,
textarea,
select,
option {
    font-family: var(--mainFont);
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
